.card{
   display: flex;
  flex-direction: column;
  position: relative;
}


.card__title{
  margin: 0;
  font-size: 20px;
   font-weight: 500;
    line-height: 1.2;
    max-width: 353px;
    text-overflow: ellipsis;
     white-space: nowrap;
     overflow: hidden;
}


.card__image{
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  margin-bottom: 12px;
}


.card__content{
  display: flex;
  justify-content: space-between;
  align-items: center
}

.card__like-button{
  width: 23px;
  height: 20px;
  border:none;
  background-color: transparent;
  opacity: 40%;
   background: transparent;
    padding: 0;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

@media screen and (max-width:627px){
  .card__image{
    height: 288px;
  }

}


