.profile{
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33,33,33,0.4) solid;
}

.profile__avatar{
  margin-right: 20px;
  height: 190px;
  width: 190px;
  border-radius: 8px

}

.profile__columon{
  display: flex;
  flex-direction: column;
}

.profile__name{
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
   text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp:3;
  -webkit-box-orient: vertical;
  max-width: 420px;
   color: #212121;
}

.profile__descrition{
     margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp:3;
    -webkit-box-orient: vertical;
    max-width: 420px;
}

.profile__edit__btn{
margin-top: auto;
}

.profile__add-btn{
  margin-left: auto;
}

.card__like-button:hover {
    opacity: 1;
    transform: scale(1.1);
}

.profile__edit__button:hover,
.profile__add-button:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width:627px) {
  .profile{
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar{
    height: 80px;
    width: 80px;
    margin-bottom: 12px;
    margin-right: 0;
  }

  .profile__name{
  margin-bottom: 6px;
  font-size: 20px;
  max-width: 288px;
  }

  .profile__column{
  text-align: center;
  margin-right: 0;
  }

  .profile__description{
    margin-bottom: 32px;
    font-size: 16px;
    max-width: 288px;
  }

  .profile__add-button{
    margin: 0;
    max-width: 288px;
    width: 100%;
  }

}
